/* Reset */
html,body,h1,h2,h3,h4,p,a,ul,li,div{
    margin:0;
    padding:0;
}

/* Global styles */
body{
    font-size:16px;
    font-family:Helvetica;
}

.content{
	color:blue;
	width:66.66%;
	float:left;
}

.content p{
	font-family:Georgia;
}

.content #lead{
	width:98%;
	margin-left: 1%;
	margin-right: 1%;
}

.content article{
	width:48%;
	margin-left: 1%;
	margin-right: 1%;
	float:left;
	border-bottom: 1px solid blue;
}

.sidebar{
	color:red;
	width:33.33%;
	float:left;
	padding-top: 10px;
	padding-bottom: 15px;
}

.sidebar p{
	font-family:Georgia;
}

header{
	width:100%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 3px solid black;
}

article{
	padding-top: 10px;
	padding-bottom: 15px;
}

